@import './base.css';

#app {
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  height: 100%;
  width: 100%;
  font-weight: normal;
  background-color: rgb(255, 255, 255);
}

a,
.green {
  text-decoration: none;
  color: rgb(65, 123, 132);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(194, 65%, 41%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

table {
  table-layout: fixed;
  text-align: left;
  width: 100%
}

th {
  font-size: large;
  border-bottom: 1px solid #c8c8c8bb;
}

tr:nth-child(even) {background-color: #c8c8c8bb;}
